.place-app {
    color:black;
}

.place-filter-btns{
    margin-left:10px;
}

.place-filter input {
    font-size: 17px;
    font-weight: 500;
    font-size: inherit;
    font-weight: 500;
    padding: 7px;
    width: 58%;
}

.filter-btn {
    padding: 9px 10px;
    background-color: #f1f1f1;
}

.filter-btn:hover {
    background-color: #ddd;
}

.activeFilter {
    background-color: #666;
}

.place-preview {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
}

.place-preview:hover {
    background-color: #f1f1f1;
}

.place-preview-content {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    /* margin:10px 0; */
    /* border-radius: 4px; */
    padding: 5px;
}

.place-preview.active {
    background-color: #f1f1f1;
    font-weight: 500;
}

.place-preview .size-optimize {
    font-size: 0.9em;
    padding: 0;
}
.place-preview .trash:hover {
    color:rgb(194, 18, 18);
}
.place-preview .place-name {
    margin-left: 10px;
}

.place-preview.temp {
    background-color: rgba(41, 174, 226, 0.384);
    order: -1;
    /* margin-bottom: 20px;
    border-bottom:1px solid gray; */
}

.places-list {
    margin-top:20px;
}
.places-list-content {
    display: flex;
    flex-direction: column;
}

.temp.active {
    background-color: rgba(48, 202, 9, 0.507)
}

.temp-title {
    margin-top: 40px;
    /* margin:0; */
    /* margin: 10px 0; */
}

.map-controller-buttons {
    transition: all 0.2s ease-in-out;
    font-size: inherit;
    padding: 7px;
    border-radius: 4px;
}

.edit-buttons{
    align-self: flex-end;
}

.edit-marker-save {
    padding: 7px 10px;
    font-size: 17px;
    background-color: #2a63ad;
    font-weight: bold;
    /* text-shadow: 1px 1px #57D6C7; */
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /* border: 1px solid #57D6C7; */
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.edit-marker-save:hover{
    background-color: #3450eb;
}
.edit-marker-cancel {
    padding: 7px 10px;
    font-size: 17px;
    background-color: #b63018;
    font-weight: bold;
    /* text-shadow: 1px 1px #57D6C7; */
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /* border: 1px solid #57D6C7; */
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.edit-marker-cancel:hover{
    background-color: #dd2020;
}


.map-controller-buttons:hover {
    background-color:transparent;
    color: rgb(34, 112, 230);
}

.edit-place {
    /* background-color: blue; */
}


.edit-place-info-window label {
    display: block;
    margin:0;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 500;
}

.edit-place-info-window input {
    margin:0;
    padding: 5px;
}

.info-windows-content {
    font-size: 17px;
}
.map-controller-wrapper{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    /* margin-top: 42px; */
}
.map-controller {
    width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    /* resize: both;
    overflow: auto; */
    
}

.map-controllers-toggle{
    width:100%;
    font-size: 17px;
    /* font-weight: bold; */
    border: none;
    background-color: rgb(156, 37, 37);
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    outline: none;
    border-radius: 0px 0px 4px 4px;
}

.open-controllers{
    max-height: 1000px;
    /* transition: max-height 0.4s ease-in-out; */
    
}
.map-features {
    position: absolute;
    z-index: 1;
    /* display: flex; */
    /* flex-direction: row; */
    margin: 30px;
    margin-top: 50px;
}

.map-features-wrapper {
    position: absolute;
}

.place-add-wrapper {
    margin-left: 40px;
    left: 350px;
}

.place-app {
    font-family: Roboto, Arial, sans-serif;
}

.place-add {
    margin-left: 40px;
}

.place-add .search-bar {
    position: relative;
}

.place-add .search-bar-wrapper {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 4px 15px -5px rgba(0, 0, 0, 0.0);
}

.place-add #add-address {
    /* width:400px; */
    width: 400px;
    padding: 7px;
    font-size: 17px;
}

.form-place-add .sub {
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #4a8cf6;
    font-size: 17px;
    color: white;
    padding: 0px 40px;
    text-shadow: 10px 10px 10px #000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 4px 15px -5px rgba(0, 0, 0, 0.0);
    border-radius: 0;
    /* width: 300px; */
}

.pac-item {
    /* font-size: 40px; */
}

.pac {}

.edit-place-info-window * {
    margin: 10px 0;
}




/* %%%media query%%%% */
/* laptop */
