.user-msg{
    position: fixed;
    min-width: 200px;
    top: 3px;
    right: 3px;
    color: #fff;
    z-index: 100;
    background-color: lightgray;
    padding: 0.5em 1em;
}

.user-msg.email{
    position: fixed;
    min-width: 200px;
    top: 50px;
    right:50px;
    color: #fff;
    z-index: 100;
    background-color: rgb(200, 243, 218);
    padding: 0.5em 1em;
    border-radius:10px;
} 

.user-msg button{
    float: right;
}
.user-msg.success {
    background-color: rgb(131, 175, 131)
}
.user-msg.error {
    background-color: lightsalmon;
}